<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mycapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Forum AACCU</name>
    <description>Forum AACCU asia 2023</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        DiproIT
    </author>
    <content src="https://forum.aaccu.asia"/>
    <allow-intent href="http://*/*" />
    <access origin="*" />
    <!-- <allow-navigation href="*"/> -->
    <!-- <preference name="scheme" value="app"/>
    <preference name="hostname" value="localhost" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" /> -->
</widget>
